@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
    0%, 100% {
      transform: scale(1);
      opacity: 0.4;
    }
    50% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  
  .animate-glow {
    animation: glow 1.5s infinite;
  }